
:root {
    background-color: #3705A5;
    box-sizing: border-box;
    font-size: 26px;
    font-family: "Times New Roman", "Times", serif !important;
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.15;
    text-shadow: 1px 1px black;
    overflow-x: hidden;
    background-image: url("public/images/nether.gif");
    background-repeat: repeat;
}

body {
    background-color: transparent !important;
}

.monster-mash {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .monster-mash {
        display: none;
    }
}

.boring-left-ghost {
    animation-name: boringLeftGhost;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes boringLeftGhost {
    0% {margin-right: 0px}
    50% {margin-right: 60px}
    100% {margin-right: 0px}
}

.boring-right-ghost {
    animation-name: boringRightGhost;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes boringRightGhost {
    0% {margin-left: 0px}
    50% {margin-left: 60px}
    100% {margin-left: 0px}
}

@media only screen and (max-width: 600px) {
    .ghost-busters {
        display: none
    }
}

.link, .link:visited {
    color: white !important;
    text-decoration: underline;
}

#circle {
    pointer-events: none;
}

#circle svg {
    left: 0;
    top: 0;
    height: 15rem;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#circle text {
    font-size: 54px;
    font-weight: bold;
}

.calendar_aside {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title_jackolantern {
    height: 200px;
    position: absolute;
    animation-name: jackolantern;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mobile-ghosts {
    height: 80px;
}

@keyframes jackolantern {
    0% {height: 175px; transform: rotate(0)}
    25% {height: 150px}
    50% {height: 175px}
    75% {height: 200px}
    100% {height: 175px; transform: rotate(360deg)}
}


@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

@media(prefers-reduced-motion) {
    * {
        animation: none !important;
    }
}

details:not(:last-child) {
    margin-bottom: 1.5em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-gif {
    height: 125px;
}

.reverse-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timesNewRoman {
    font-family: "Times New Roman", "Times", serif !important;
}

.freebirdFormviewerViewFooterEmbeddedBackground {
    visibility: hidden;
    height: 0;
}

.freebirdFormviewerViewNavigationPasswordWarning {
    visibility: hidden;
    height: 0;
}

.freebirdFormviewerViewNoPadding {
    visibility: hidden;
    height: 0;
}

.freebirdFormviewerComponentsQuestionBaseRoot {
    background-color: black !important;
    border-color: #D95300 !important;
    font-family: "Times New Roman", "Times", serif !important;
}

.freebirdFormviewerComponentsQuestionBaseTitle {
    color: white !important;
    text-shadow: 1px 1px #D95300;
    font-family: "Times New Roman", "Times", serif !important;
}

.freebirdFormviewerComponentsQuestionBaseRequiredAsterisk {
    color: #ED752B !important;
    text-shadow: 1px 1px #D95300;
    font-family: "Times New Roman", "Times", serif !important;
}

.quantumWizTextinputPaperinputInput {
    color: white !important;
    text-shadow: 1px 1px #C17CCF;
    font-family: "Times New Roman", "Times", serif !important;
}

.quantumWizTextinputPapertextareaInput {
    color: white !important;
    text-shadow: 1px 1px #C17CCF;
    font-family: "Times New Roman", "Times", serif !important;
}

.docssharedWizToggleLabeledLabelText {
    color: white !important;
    text-shadow: 1px 1px #D95300;
    font-family: "Times New Roman", "Times", serif !important;
}

.freebirdFormviewerViewNavigationSubmitButton {
    margin: 0 !important;
}

.freebirdThemedFilledButtonM2 {
    background-color: black !important;
    font-family: "Times New Roman", "Times", serif !important;
    border: 1px solid #d95300 !important;
    text-shadow: 2px 2px #9e41ba !important;
    width: 100% !important;
    justify-content: center !important;
    display: flex !important;
    font-size: 30px !important;
    height: 40px !important;
}

.popupContainer {
    width: 370px;
    display: flex;
    flex-direction: column;
    background: lightgray;
    align-items: center;
    margin: auto;
    color: black;
    text-shadow: 0 0 black;
    border-radius: 4px;
    border: 1px solid black;
}

.popupContent {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.popupText {
    display: flex;
    flex-direction: column;
}

.popupHeader {
    width: 100%;
    font-family: "Roboto", sans-serif;
    align-self: start;
    padding-left: 16px;
}

.popupButton {
    text-decoration: none;
    color: black;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    margin: auto;
    padding: 4px;
    margin-top: 4px;
}

.popupButton:hover {
    color: blue;
    border-color: blue;
}

.popupTitle {
    animation-name: flicker;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}

@keyframes flicker {
    0% { color: white; }
    33% { color: blue }
    66% { color: red }
}

.ghostLeft {
    height: 100px;
    animation-name: ghostLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ghostLeft {
    0% {margin-bottom: 0px; margin-right: 20px; height: 100px}
    25% {margin-right: 40px; height: 80px}
    50% {margin-bottom: -100px; margin-right: 20px; height: 100px}
    75% {margin-right: 0px; height: 120px}
    100% {margin-bottom: 0px; margin-right: 20px; height: 100px}
}

.ghostRight {
    height: 100px;
    animation-name: ghostRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ghostRight {
    0% {margin-bottom: 0px; margin-left: 20px; height: 100px}
    25% {margin-left: 40px; height: 80px}
    50% {margin-bottom: -100px; margin-left: 20px; height: 100px}
    75% {margin-left: 0px; height: 120px}
    100% {margin-bottom: 0px; margin-left: 20px; height: 100px}
}

#cursed {
  display: none
}
#cursedText {
    display: none
}
#popup:hover #cursed {
  display: block
}
#popup:hover #cursedText {
    display: block
  }
#popup:hover #normal {
  display: none
}
#popup:hover #normalText {
    display: none
}

.mazeGame {
    position: fixed;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    visibility: hidden;
}

.mazeGameVisible {
    visibility: visible;
}
