*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  line-height: 1.4;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: var(--heading-font);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

/* @link https://utopia.fyi/type/calculator?c=330,16,1.2,1200,18,1.25,7,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --font-size--1: clamp(0.8333rem, 0.808rem + 0.1226vw, 0.9rem);
  --font-size-0: clamp(1rem, 0.9526rem + 0.2299vw, 1.125rem);
  --font-size-1: clamp(1.2rem, 1.1218rem + 0.3793vw, 1.4063rem);
  --font-size-2: clamp(1.44rem, 1.3195rem + 0.5845vw, 1.7578rem);
  --font-size-3: clamp(1.728rem, 1.55rem + 0.863vw, 2.1973rem);
  --font-size-4: clamp(2.0736rem, 1.8183rem + 1.2377vw, 2.7466rem);
  --font-size-5: clamp(2.4883rem, 2.1299rem + 1.7378vw, 3.4332rem);
  --font-size-6: clamp(2.986rem, 2.4908rem + 2.401vw, 4.2915rem);
  --font-size-7: clamp(3.5832rem, 2.9075rem + 3.2758vw, 5.3644rem);
}

h1,
.h1 {
  font-size: var(--font-size-4);
}

h2,
.h2 {
  font-size: var(--font-size-2);
}

h3,
.h3 {
  font-size: var(--font-size-1);
}

:root {
  background: url("public/images/bg.batsbg.gif");
  color: white;
  color-scheme: dark;
  cursor:
    url("public/images/cursor.cur") 8 3,
    auto;
  font: "Times New Roman", Times, serif;

  --gutter: 0.5rem;

  @media (min-width: 400px) {
    --gutter: 1rem;
    font-size: var(--font-size-0);
  }
}

body {
  padding: var(--gutter);
}

.wrapper {
  max-width: var(--wrapper-max-width, 50rem);
  margin: 0 auto;
  padding: var(--gutter, 1rem);
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
  align-items: var(--switcher-vertical-alignment, flex-start);

  > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
  }
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
